* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug div,
.debug nav {
  border: 1px solid black;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
}

header {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  color: white;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  color: black;
  font-size: 40px;
}

.container {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.button {
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 10px;
}

.button i {
  padding: 5px;
}

.bg-grey {
  background-color: #F6F6F6;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-light-blue {
  background-color: #8ea1e1;
  color: white;
}

/* STILI HEADER */

.topbar {
  padding: 20px;
}

.topbar .container {
  justify-content: space-between;
  align-items: center;
}

.topbar .menu {
  width: 50%;
}

.topbar .menu ul {
  justify-content: space-between;
}

.topbar .menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.hero {
  justify-content: center;
  align-items: center;
  height: 630px;
  /* DEBUG */
}

.hero .content {
  text-align: center;
  width: 98%;
  max-width: 950px;
  color: white;
  font-family: "Abcgintonord 800", sans-serif;
}

.hero .content h1 {
  font-size: 56px;
  font-weight: 700;
}

.hero .content p {
  margin: 30px 100px;
}

.hero button {
  font-size: 18px;
  min-height: 60px;
}

/* /STILI HEADER */

/* MAIN */
main section {
  padding: 150px 0;
}

.container div.img {
  width: 65%;
  justify-content: center;
  background-color: transparent;
}

.container div.box-text {
  width: 25%;
  background-color: transparent;
  color: black;
  align-items: center;
}

.container div.box-text p {
  margin-top: 24px;
  font-size: 20px;
  line-height: 28px;
}

/* /MAIN */

/* TECNOLOGIA */

#tecnologia .container {
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

#tecnologia .container p {
  font-size: 20px;
  margin: 24px;
}

.pic img{
  width: 100%;
}

#tecnologia .container .cta {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 25px 0 35px;
}

#tecnologia .container .cta h2{
  padding-bottom: 20px;
}
/* TECNOLOGIA */

/* STILI FOOTER */
footer {
  padding: 50px;
  background-color: #23272a;
  color: white;
}

footer .top {
  border-bottom: 2px solid #48567e;
}

footer h2,
h3 {
  color: #6f85d3;
}

footer .top .social-menu {
  width: 25%;
}

footer .top .social-menu div {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.language img {
  width: 40px;
  padding-right: 10px;
}

.social-icons i {
  padding-right: 20px;
}


footer .top .footer-menu {
  width: 75%;
}

footer .top .footer-menu nav {
  width: 25%;
}

footer .top .footer-menu nav h3,
li {
  margin-bottom: 10px;
}


footer .bottom {
  padding-top: 20px;
  justify-content: space-between;
}

/* /STILI FOOTER */